body {
    background: #1C1C1C;
    font-family: 'Inter';
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: url(./resources/logo.png) no-repeat -85px -107px;
}

.title-bar {
    -webkit-app-region: drag;
}

.traffic-lights {
    -webkit-app-region: no-drag;
}

.font-inria {
    font-family: 'Inria Sans';
}

.icon {
    display: inline-block;
}

.large-dialog {
    width: 800px;
}

.mod-container {
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.3)
}

.mod-container.pattern-bg {
    background: url(./resources/bg-pattern.png);
}

.mod-tile {
    position: relative;
    width: 150px;
    height: 265px;
    box-shadow: 0 0 8px #000;
    font-size: 12px;
}

.mod-tile a {
    color: #fff !important;
    text-decoration: none;
}

.mod-tile .cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 0;
    transition: opacity 0.3s;
    background: rgba(0, 0, 0, 0.5);
}

.mod-tile .cover:hover {
    opacity: 1;
}

.mod-title {
    text-shadow: 0 0 4px #000;
}

.log-debug, .log-trace {
    opacity: 0.5;
}

.log-warning {
    color: rgb(255, 221, 25);
}

.log-error, .log-fatal {
    color: #f00;
}

.max-h-300px {
    max-height: 300px;
}
