.DS_Store
*~
*.pyc
*.pyo
build
dist
/knossos/ui/*
/knossos/data/resources.rcc
/resources.qrc
/tools/common/pyinstaller/
/tools/win/support/*.dll
/tools/win/support/*.exe
/tools/win/_w
/tools/win/version
/tools/mac/version
/tools/mac/pyenv
/tools/mac/buildenv
/tools/mac/PyObjC
/knossos.egg-info/
*.sublime-*
/ui/res.qrc
/locale/_*.ts
