<div>
    <div class="scroll-style mlist">
        <button class="mod-btn btn-orange" @click.prevent="openCreatePopup">CREATE</button>

        <!-- TODO This should probably list *all* available versions -->
        <a href="#" v-for="mod in mods" :key="mod.id" :class="{ active: selected_mod === mod }" @click="selected_mod = mod">{{ mod.title }}</a>
    </div>
    <div class="content-pane">
        <div class="logo-box" v-if="selected_mod">
            <kn-mod :mod="selected_mod" tab="develop"></kn-mod>

            <p>
                <button @click.prevent="page = 'details'" class="btn btn-default">Edit Mod Details</button><br>
                <button @click.prevent="page = 'fso'" class="btn btn-default">Edit FSO Settings</button>
            </p>

            Mod Path: <button @click.prevent="openModFolder">Browse</button>
            <br>
            <div class="mod-value">{{ selected_mod.folder }}</div>

            <br>
            Mod Packages:
            <div class="mod-value">
                <button class="mod-btn btn-green" @click.prevent="addPackage">ADD</button>
                <br>
                <div v-for="pkg in selected_mod.packages">
                    <a href="#" @click.prevent="selected_pkg = pkg">{{ pkg.name }}</a>
                </div>
            </div>
        </div>
        <div class="form-box row">
            <form class="form-horizontal" v-if="selected_mod">
                <div v-if="!selected_pkg && page === 'details'">
                    <h4>Mod Details</h4>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Name</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" v-model="selected_mod.title">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">ID</label>
                        <div class="col-xs-9">
                            <p class="form-control-static">{{ selected_mod.id }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Version</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" v-model="selected_mod.version" pattern="^([0-9]+\.){0-2}[0-9]+(\-.*)?$">

                            <span class="help-block">
                                TODO: Version explanation. The versioning scheme is still pending. See the forum thread for details.
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Type</label>
                        <div class="col-xs-9">
                            <select class="form-control" v-model="selected_mod.type" disabled>
                                <option value="mod">Mod</option>
                                <option value="tc">Total Conversion</option>
                                <option value="engine">FSO build</option>
                                <option value="tool">Tool</option>
                                <option value="ext">Extension</option>
                            </select>

                            <span class="help-block" v-if="selected_mod.type === 'mod'">
                                This type is the default and covers most cases. Normally you'll want to use this type.
                            </span>

                            <span class="help-block" v-if="selected_mod.type === 'tc'">
                                Use this type if your mod doesn't depend on other mods or retail files.<br>
                                (Mods for TCs should still use the "Mod" type.)
                            </span>

                            <span class="help-block" v-if="selected_mod.type === 'engine'">
                                This should only be used for builds FSO builds (fs2_open*.exe, fs2_open*.AppImage, etc.).
                            </span>

                            <span class="help-block" v-if="selected_mod.type === 'tool'">
                                This is used for all executables which aren't FSO like FRED or PCS2.
                            </span>

                            <span class="help-block" v-if="selected_mod.type === 'ext'">
                                This mod type is meant for overrides like custom HUD tables.
                            </span>
                        </div>
                    </div>

                    <div class="form-group" v-if="selected_mod.type === 'mod' || selected_mod.type === 'ext'">
                        <label class="col-xs-3 control-label">Parent mod</label>
                        <div class="col-xs-9">
                            <p class="form-control-static">{{ selected_mod.parent }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Description</label>
                        <div class="col-xs-9">
                            <textarea class="form-control" v-model="selected_mod.description"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Logo</label>
                        <div class="col-xs-9">
                            <img :src="selected_mod.logo_path" v-if="selected_mod.logo_path"><br>

                            <p class="help-block">
                                This image should be about 255&times;112 pixels large. Please only use this for existing logos.
                                If you create a new logo, please use the next setting.
                            </p>

                            <button class="btn btn-small btn-default" @click.prevent="changeLogo">Select Image</button>
                            <button class="btn btn-small btn-default" @click.prevent="selected_mod.logo_path = null" v-if="selected_mod.logo_path">Remove Image</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Tile Image</label>
                        <div class="col-xs-9">
                            <img :src="selected_mod.tile_path" v-if="selected_mod.tile_path"><br>

                            <p class="help-block">
                                This image should be 150&times;225 pixels large.
                            </p>

                            <button class="btn btn-small btn-default" @click.prevent="changeTile">Select Image</button>
                            <button class="btn btn-small btn-default" @click.prevent="selected_mod.tile_path = null" v-if="selected_mod.tile_path">Remove Image</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Release Thread</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" v-model="selected_mod.release_thread">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Videos</label>
                        <div class="col-xs-9">
                            <textarea class="form-control" v-model="video_urls"></textarea>

                            <span class="help-block">You can put YouTube links here, one per line.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">First Release</label>
                        <div class="col-xs-9">
                            <p class="form-control-static">{{ selected_mod.first_release }}</p>
                            <!-- TODO: Date widget -->
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Last Update</label>
                        <div class="col-xs-9">
                            <p class="form-control-static">{{ selected_mod.last_update }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-9 col-xs-offset-3">
                            <button class="mod-btn btn-green" @click.prevent="saveDetails">SAVE</button>
                        </div>
                    </div>
                </div>

                <div v-if="!selected_pkg && page === 'fso'">
                    <h4>FSO Settings</h4>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">FSO build</label>
                        <div class="col-xs-9">
                            <select class="form-control">
                                <option>TODO</option>
                            </select>
                        </div>
                    </div>

                    <flag-editor :caps="caps" :cmdline="selected_mod.cmdline"></flag-editor>

                    <div class="form-group">
                        <div class="col-xs-9 col-xs-offset-3">
                            <button class="mod-btn btn-green" @click.prevent="saveFsoSettings">SAVE</button>
                        </div>
                    </div>
                </div>

                <div v-if="selected_mod && selected_pkg">
                    <h4>Package</h4>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Name</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" v-model="selected_pkg.name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Folder</label>
                        <div class="col-xs-9">
                            {{ selected_pkg.folder }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Description</label>
                        <div class="col-xs-9">
                            <textarea class="form-control" v-model="selected_pkg.notes"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Status</label>
                        <div class="col-xs-9">
                            <select class="form-control" v-model="selected_pkg.status">
                                <option value="required">Required</option>
                                <option value="recommended">Recommended</option>
                                <option value="Optional">Optional</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Dependencies</label>
                        <div class="col-xs-9">
                            <div v-for="(dep, i) in selected_pkg.dependencies">
                                <a href="#" @click.prevent="editDep(i, dep)">{{ mod_map[dep.id].title }}</a>
                                <span v-if="dep.packages && dep.packages.length > 0">({{ dep.packages.join(', ') }})</span>
                            </div>

                            <a href="#" @click.prevent="addDep()">Add a dependency</a>

                            <div v-if="edit_dep">
                                <br>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label">Mod</label>
                                    <div class="col-xs-8">
                                        <select class="form-control" v-model="edit_dep_mod">
                                            <option v-for="mod in mods" :value="mod.id" :key="mod.id">{{ mod.title }}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-xs-4 control-label">Packages</label>
                                    <div class="col-xs-8">
                                        <span v-if="!edit_dep_pkgs" class="help-block">Please select a mod above.</span>

                                        <div v-if="edit_dep_pkgs">
                                            <label class="checkbox" v-for="pkg in edit_dep_pkgs">
                                                <input type="checkbox" :key="pkg.name" v-model="edit_dep_pkg_sel[pkg.name]" v-if="pkg.status !== 'required'">
                                                <input type="checkbox" :key="pkg.name" disabled checked="true" v-if="pkg.status === 'required'">
                                                {{ pkg.name }}
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-small" @click.prevent="saveDep">Save</button>

                                <button class="btn btn-small" @click.prevent="edit_dep = false">Cancel</button>
                                <button class="btn btn-small pull-right" v-if="edit_dep_idx !== -1" @click.prevent="deleteDep">Delete</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" v-if="selected_mod.type === 'engine' || selected_mod.type === 'tool'">
                        <label class="col-xs-3 control-label">Conditions</label>
                        <div class="col-xs-9">
                            TODO (environment)
                        </div>
                    </div>

                    <div class="form-group" v-if="selected_mod.type === 'engine' || selected_mod.type === 'tool'">
                        <label class="col-xs-3 control-label">Executables</label>
                        <div class="col-xs-9">
                            TODO
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-9 col-xs-offset-3">
                            <button class="mod-btn btn-green" @click.prevent="savePackage">SAVE</button>

                            <button class="mod-btn btn-red" @click.prevent="deletePackage">DELETE</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>