<div>
    <div class="scroll-style mlist">
        <button class="mod-btn btn-orange" v-on:click.prevent="openCreatePopup">CREATE</button>

        <a href="#" v-for="mod in mods" :key="mod.id" :class="{ active: selected_mod === mod }" @click="selected_mod = mod">{{ mod.title }}</a>
    </div>
    <div class="content-pane">
        <div class="logo-box" v-if="selected_mod">
            <kn-mod :mod="selected_mod" tab="develop"></kn-mod>

            Mod Path: <button @click.prevent="openModFolder">Browse</button>
            <br>
            <div class="mod-value">{{ selected_mod.folder }}</div>

            <br>
            Mod Dependencies:
            <div class="mod-value">TODO</div>
        </div>
        <div class="form-box row">
            <form class="form-horizontal">
                

                <flag-editor></flag-editor>
            </form>
        </div>
    </div>
</div>