<div class="mod row">
    <div class="mod-node">
        <div class="mod-image">
            <img src="images/modstock.jpg" class="mod-stock">
            <div class="mod-logo-container">
                <img class="mod-logo-legacy img-responsive" v-if="mod.logo_path" :src="'file://' + mod.logo_path">
            </div>
        </div>
        <div class="mod-notifier" v-if="tab === 'home'">
            <img :src="'images/modnotify_' + mod.status + '.png'" class="notifier">
        </div>
        <div class="actions">
            <div class="btn-wrapper">
                <kn-mod-buttons :tab="tab" :mod="mod"></kn-mod-buttons>

                <button class="mod-btn btn-grey" v-if="tab !== 'develop'" v-on:click="showDetails">
                    <span class="btn-text">DETAILS</span>
                </button>

                <div class="debug-dropdown" v-if="tab === 'home'">
                    <button class="dropbtn"></button>
                    <div class="dropdown-content">
                        <div class="dropdown-lines">
                            <button class="drop-content-btn">Run Fast Debug</button>
                        </div>
                        <div class="dropdown-lines">
                            <button class="drop-content-btn">Run Debug</button>
                        </div>
                        <div class="dropdown-lines">
                            <button class="drop-content-btn">Upload Debug Log</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mod-progress"><div class="bar" :style="'width: ' + mod.progress + '%'"></div></div>
        <div class="mod-title">{{ mod.title }}</div>
    </div>
</div>