<div>
    <div class="main-menus">
        <div class="pull-right">
            <a href="#" class="top-btn" @click="showHelp"><span class="help-image"></span></a>
            <a href="#" class="top-btn" @click="updateList"><span class="update-image"></span></a>
            <a href="#" :class="{ 'top-btn': true, active: page === 'settings' }" @click="showSettings"><span class="settings-image"></span></a>
        </div>
        <div id="top-bar">
            <div class="mod-search">
                <input v-model="search_text" type="text" placeholder="Search">
            </div>
        </div>
    </div>
<!-------------------------------------------------------------------------------- Start the Tab Menus ---------->
    <div id="tab-bar" v-if="page !== 'details'">
        <a href="#" class="main-btn" v-for="(label, name) in tabs" :class="{ active: tab === name }" @click="showTab(name)">
            <span :class="'icon ' + name + '-image'"></span>
            {{ label }}
        </a>
    </div>
<!-------------------------------------------------------------------------------- Start the Filter Button ---------->
    <div class="filter-container" v-if="page === 'modlist'">
        <button class="filterbtn" @click="show_filter = true"></button>
        <div class="filter-content" v-show="show_filter" @click="show_filter = false">
            <div class="filter-lines">
                <button class="filter-content-btn last-played-btn">Last Played</button>
            </div>
            <div class="filter-lines">
                <button class="filter-content-btn alphabetical-btn">Alphabetical</button>
            </div>
            <div class="filter-lines">
                <button class="filter-content-btn last-updated-log-btn">Last Updated</button>
            </div>
            <div class="filter-lines">
                <button class="filter-content-btn last-released-btn">Last Released</button>
            </div>
        </div>
    </div>

<!-------------------------------------------------------------------------------- Start the Details Menu ---------->
    <div id="details-tab-bar" v-if="page === 'details'">
        <a href="#" class="main-btn" @click="exitDetails"><i class="fa fa-chevron-left"></i> Back</a>
        <span class="main-btn active"><i class="fa fa-exclamation-circle"></i> Details</span>
    </div>

<!-------------------------------------------------------------------------------- Build the Main View container ---------->
    <div class="main-container scroll-style">
        <div class="container-fluid" v-if="page === 'modlist'">
            <kn-mod v-for="mod in mods" :key="mod.id" :mod="mod" :tab="tab"></kn-mod>
            <div v-if="mods.length === 0" class="main-notice">No mods found.</div>
        </div>

<!-------------------------------------------------------------------------------- Start the Welcome page ---------->
        <div data-tr class="info-page" v-if="page === 'welcome'">
            <div class="container main-notice">
                <h1>Welcome!</h1>
                
                <p>It looks like you started Knossos for the first time.</p>
                <p>You need to select a directoy where Knossos will store the game data (models, textures, etc.).</p>
                
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-8">
                            <input type="text" class="form-control" v-model="data_path">
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-default" @click.prevent="selectFolder">Browse...</button>
                        </div>
                    </div>
                </form>
                
                <p><button class="btn btn-primary" @click="finishWelcome">Continue</button></p>

                <hr>
                <p>
                    This launcher is still in development. Please visit
                    <a href="#" @click="openLink('http://www.hard-light.net/forums/index.php?topic=93144.0')">this HLP thread</a>
                    and let me know what you think, what didn't work and what you would like to change.
                </p>
                <p>-- ngld</p>
            </div>
        </div>

<!-------------------------------------------------------------------------------- Start the Details page ---------->
        <div class="info-page" id="details-page" v-if="page === 'details'">
            <div class="img-frame">
                <div class="title-frame">
                    <h1>{{ mod.title }}</h1>
                    Version <span>{{ mod.version }}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <kn-mod-buttons :tab="tab" :mod="mod"></kn-mod-buttons>
                </div>

                <div class="col-sm-6 short-frame">
                    <button class="link-btn btn-link-red" v-if="mod.release_thread" @click="openLink(mod.release_thread)"><span class="btn-text">FORUM</span></button>
                    <button class="link-btn btn-link-blue" v-if="mod.videos.length > 0" @click="showVideos(mod.videos)"><span class="btn-text">VIDEOS</span></button>

                    <div class="date-frame pull-right">
                        <div v-if="mod.first_release">Release: {{ mod.first_release }}</div>
                        <div v-if="mod.last_update"><em>Last Updated: {{ mod.last_update }}</em></div>
                    </div>
                </div>
            </div>

            <p v-html="mod.description"></p>
        </div>

        <div class="info-page settings-page container-fluid" v-if="page === 'settings'">
            <kn-settings-page></kn-settings-page>
        </div>

        <div class="info-page devel-page" v-if="page === 'develop'">
            <kn-devel-page :mods="mods"></kn-devel-page>
        </div>
    </div>

    <div class="popup-bg" v-if="popup_visible" @click="popup_visible = false"></div>

    <div class="popup" v-if="popup_visible">
        <div class="title clearfix">
            {{ popup_title }}

            <a href="" class="pull-right" @click.prevent="popup_visible = false">
                <i class="fa fa-times"></i>
            </a>
        </div>
        <div :class="{ content: true, 'gen-scroll-style': true, iframe: popup_mode === 'frame' }">
            <div v-if="popup_mode === 'html'" v-html="popup_content"></div>
            <iframe v-if="popup_mode === 'frame'" :src="popup_content"></iframe>

            <div v-if="popup_mode === 'mod_errors'">
                <div v-for="pkg in popup_content.packages" v-if="pkg.check_notes && pkg.check_notes.length > 0">
                    <strong>{{ pkg.name }}</strong><br>
                    <ul>
                        <li v-for="msg in pkg.check_notes">{{ msg }}</li>
                    </ul>
                </div>
            </div>

            <div v-if="popup_mode === 'mod_progress'">
                <div v-for="row in popup_content.progress_info" class="row">
                    <div class="col-xs-4 mod-prog-label">{{ row[0] }}</div>
                    <div class="col-xs-5">
                        <div :class="'mod-prog-bar' + (row[1] === 1 ? ' complete' : '')">
                            <div class="inner" :style="'width: ' + (row[1] * 100) + '%'"></div>
                        </div>
                    </div>
                    <div class="col-xs-3 mod-prog-status">{{ row[2] }}</div>
                </div>
            </div>

            <div v-if="popup_mode === 'retail_prompt'">
                <p>
                    You're trying to install an FS2 mod which requires retail files which you don't have.<br>
                    Please select the folder of your FS2 installation or the FS2 installer from GOG (setup_freespace2_....exe).
                </p>
                <p>
                    <strong v-if="retail_searching">Searching files...</strong>
                    <strong v-else-if="retail_found">Folder found!</strong>
                    <strong v-else>
                        Nothing found, please select the appropriate folder or install FS2 and
                        <a href="#" @click.prevent="retailAutoDetect">try again</a>.
                    </strong>
                </p>
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-8">
                            <input type="text" class="form-control" v-model="retail_data_path" :disabled="retail_searching">
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-default" @click.prevent="selectRetailFolder">Browse...</button>
                            <button class="btn btn-default" @click.prevent="selectRetailFile">Select .exe</button>
                        </div>
                    </div>
                </form>
                
                <p><button class="btn btn-primary" @click="finishRetailPrompt">Continue</button></p>
            </div>

            <div v-if="popup_mode === 'create_mod'">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Name</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" v-model="popup_mod_name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">ID</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" v-model="popup_mod_id" pattern="^[a-zA-Z0-9_]+$">

                            <span class="help-block">Only characters (a-z, A-Z), numbers (0-9) and underscores are allowed.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Version</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" v-model="popup_mod_version" pattern="^([0-9]+\.){0-2}[0-9]+(\-.*)?$">

                            <span class="help-block">
                                TODO: Version explanation. The versioning scheme is still pending. See the forum thread for details.
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Type</label>
                        <div class="col-xs-9">
                            <select class="form-control" v-model="popup_mod_type">
                                <option value="mod">Mod</option>
                                <option value="tc">Total Conversion</option>
                                <option value="engine">FSO build</option>
                                <option value="tool">Tool</option>
                                <option value="ext">Extension</option>
                            </select>

                            <span class="help-block" v-if="popup_mod_type === 'mod'">
                                This type is the default and covers most cases. Normally you'll want to use this type.
                            </span>

                            <span class="help-block" v-if="popup_mod_type === 'tc'">
                                Use this type if your mod doesn't depend on other mods or retail files.<br>
                                (Mods for TCs should still use the "Mod" type.)
                            </span>

                            <span class="help-block" v-if="popup_mod_type === 'engine'">
                                This should only be used for builds FSO builds (fs2_open*.exe, fs2_open*.AppImage, etc.).
                            </span>

                            <span class="help-block" v-if="popup_mod_type === 'tool'">
                                This is used for all executables which aren't FSO like FRED or PCS2.
                            </span>

                            <span class="help-block" v-if="popup_mod_type === 'ext'">
                                This mod type is meant for overrides like custom HUD tables.
                            </span>
                        </div>
                    </div>

                    <div class="form-group" v-if="popup_mod_type === 'mod' || popup_mod_type === 'ext'">
                        <label class="col-xs-3 control-label">Parent mod</label>
                        <div class="col-xs-9">
                            <select class="form-control" v-model="popup_mod_parent">
                                <option v-for="mod in popup_mod_tcs" :value="mod.id" :key="mod.id">{{ mod.title }}</option>
                            </select>

                            <span class="help-block">
                                Please select your parent TC here. If this doesn't apply to a TC, select FS2.
                            </span>
                        </div>
                    </div>

                    <button class="mod-btn btn-green" @click.prevent="createMod">CREATE</button>
                    <button class="mod-btn btn-red pull-right" @click.prevent="popup_visible = false">CANCEL</button>
                </form>
            </div>

            <div v-if="popup_mode === 'add_pkg'">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Name</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" v-model="popup_pkg_name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Folder</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" v-model="popup_pkg_folder">
                        </div>
                    </div>

                    <button class="mod-btn btn-green" @click.prevent="addPackage">ADD</button>
                    <button class="mod-btn btn-red pull-right" @click.prevent="popup_visible = false">CANCEL</button>
                </form>
            </div>

            <div v-if="popup_mode == 'are_you_sure'">
                <p>
                    {{ popup_sure_question }}
                </p>

                <button class="mod-btn btn-green" @click.prevent="sureCallback">YES</button>
                <button class="mod-btn btn-red pull-right" @click.prevent="popup_visible = false">NO</button>
            </div>
        </div>
    </div>
</div>