@import url(./bootstrap.min.css);
@import url(./font-awesome.min.css);

/* -------------------------- Stuff that existed before MJN, probably won't be used long term. ----------------------------------*/

.info-page {
    padding: 15px;
    color: #fff;
}

#last-played .run-btn {
    width: 100%;
}

#last-played .mod-logo {
    margin: auto;
}

.mod .top-actions {
    position: absolute;
    top: 0;
    right: 0;

    padding: 0 10px;
}

.progress-bar.simple {
    -webkit-transition: width 0s;
         -o-transition: width 0s;
            transition: width 0s;
}
/* -------------------------- Settings for container elements ----------------------------------*/

.body-container {
    padding: 7px;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: #1c1c1c;
}

#loading {
    color: #fff;
}


/* -------------------------- Settings for top bar elements ----------------------------------*/

#top-bar {
    background-color: #1c1c1c;
    height: 40px;
    box-shadow: inset 0px 7px 10px -10px rgba(179,179,179,1),
                inset -7px 0px 10px -10px rgba(179,179,179,1),
                inset 7px 0px 10px -10px rgba(179,179,179,1),
                0px 7px 15px 0px rgba(0,0,0,1);
}

.mod-search {
    padding-top: 8px;
    padding-left: 8px;
    float: left;
}

.pull-right {
    vertical-align: middle;
}

.top-btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    border-radius: 0px;
    width: 40px;
    font-family: Arial, Tahoma, Verdana, FreeSans, sans-serif;
    font-size: 20px;
    color: #828282;
    text-decoration: none;
    height: 40px;
}

.top-btn:hover {
    text-decoration: none;
}

.top-btn:active {
    outline: none;
    text-decoration: none;
}
.top-btn:focus {
    outline: none;
    text-decoration: none;
}

.help-image {
    content: url(../images/helpicon.png);
    height: 25px;
    vertical-align: middle;
    padding-top: 3px;
}

.top-btn:hover .help-image {
    content: url(../images/helpicon-h.png);
}

.top-btn:active .help-image {
    content: url(../images/helpicon-a.png);
}

.top-btn:focus .help-image {
    content: url(../images/helpicon.png);
}

.update-image {
    content: url(../images/updateicon.png);
    height: 25px;
    vertical-align: middle;
    padding-top: 3px;
}

.top-btn:hover .update-image {
    content: url(../images/updateicon-h.png);
}

.top-btn:active .update-image {
    content: url(../images/updateicon-a.png);
}

.top-btn:focus .update-image {
    content: url(../images/updateicon.png);
}

.settings-image {
    content: url(../images/settingsicon.png);
    height: 25px;
    vertical-align: middle;
    padding-top: 3px;
}

.top-btn:hover .settings-image {
    content: url(../images/settingsicon-h.png);
}

.top-btn:active .settings-image {
    content: url(../images/settingsicon-a.png);
}

.top-btn:focus .settings-image {
    content: url(../images/settingsicon.png);
}

/* ----------------------------- This is the filter rollout button section. ------------------------------- */

.filter-container {
    width: 19px;
    height: 13px;
    top: 53px;
    right: 9px;
    position: absolute;
}

.filterbtn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    border-radius: 0px;
    width: 19px;
    font-family: Arial, Tahoma, Verdana, FreeSans, sans-serif;
    font-size: 20px;
    color: #828282;
    text-decoration: none;
    height: 13px;
    background-image: url(../images/filtericon.png);
    border: none;
    background-color: transparent;
}

.filter-image {
    background-image: url(../images/filtericon.png);
}

.filterbtn:hover {
    background-image: url(../images/filtericon-h.png);
    outline: none;
}

.filterbtn:active {
    background-image: url(../images/filtericon-a.png);
    outline: none;
}

.filterbtn:focus {
    background-image: url(../images/filtericon-a.png);
    outline: none;
}

.filter-content {
    display: none;
    padding: 5px;
    position: absolute;
    background-color: #131313;
    min-width: 150px;
    box-shadow: 6px 6px 8px 0px rgba(0,0,0,1);
    z-index: 997;
    border: 1px solid black;
    top: 0px;
    right: 26px;
}

.filterbtn:focus ~ .filter-content {
	display: block;
}

.filter-content-btn {
    background-color: transparent;
    color: #828282;
    padding: 3px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 19px;
    outline: none;
    text-align: left;
    z-index: 999;
}

.filter-content-btn:active {
    color: white;
}

.filter-lines {
    width: 150px;
    z-index: 998;
}

.filter-lines:hover {
    background-color: rgba(117,169,210,0.3);
    box-shadow: inset 0px 0px 16px 1px rgba(117,170,210,1);
}

.filter-lines:hover * {
    color: rgb(220, 220, 220);
}

.show {
    display: block;
}

/* -------------------------- Settings for tab bar elements ----------------------------------*/

#tab-bar {
    background-color: #1c1c1c;
    height: 25px;
    box-shadow: inset 0px 7px 15px 0px rgba(0,0,0,1);
    margin-right: 25px;
}

.main-btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    font-family: Arial, Tahoma, Verdana, FreeSans, sans-serif;
    font-size: 20px;
    color: #828282;
    text-decoration: none !important;
    height: 25px;
}

.main-btn:hover {
    color: #ababab;
}

.main-btn.active {
    outline: none;
    color: #3c991c;
}
.main-btn:focus {
    outline: none;
    color: #3c991c;
}

.main-btn .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}

#installed-tab {
    margin-left: 10px;
}

.home-text {
    height: 25px;
    padding-left: 5px;
    vertical-align: top;
}

.home-image {
    background-image: url(../images/homebtn.png);
    padding-left: 8px;
}

.main-btn:hover .home-image {
    background-image: url(../images/homebtn-h.png);
}

.main-btn.active .home-image {
    background-image: url(../images/homebtn-a.png);
}

.main-btn:focus .home-image {
    background-image: url(../images/homebtn-a.png);
}

.explore-text {
    margin-left: 5px;
}

.explore-image {
    background-image: url(../images/explorebtn.png);
    margin-left: 25px;
}

.main-btn:hover .explore-image {
    background-image: url(../images/explorebtn-h.png);
}

.main-btn.active .explore-image {
    background-image: url(../images/explorebtn-a.png);
}

.main-btn:focus .explore-image {
    background-image: url(../images/explorebtn-a.png);
}

.develop-text {
    margin-left: 5px;
}

.develop-image {
    background-image: url(../images/developbtn.png);
    margin-left: 25px;
}

.main-btn:hover .develop-image {
    background-image: url(../images/developbtn-h.png);
}

.main-btn:active .develop-image {
    background-image: url(../images/developbtn-a.png);
}

.main-btn:focus .develop-image {
    background-image: url(../images/developbtn-a.png);
}

/* -------------------------- Settings for the main window view ----------------------------------*/

.main-container { /* Let's make sure the mod list takes up the entire window and scrolls only vertically. */
    position: absolute;
    top: 72px;
    bottom: 7px;
    width: calc(100% - 14px);
    overflow-y: auto;
    background-image: url(../images/BG.png);
    background-repeat: repeat;

}

#main-shadow-effect {
    position: fixed;
    top: 72px;
    bottom: 7px;
    left: 7px;
	right: 32px;
    box-shadow: inset 0px 13px 15px -10px rgba(0,0,0,1),
				inset 0px -13px 15px -10px rgba(0,0,0,1),
				inset 13px 0px 15px -10px rgba(0,0,0,1),
				inset -13px 0px 15px -10px rgba(0,0,0,1);
	pointer-events: none;
	z-index: 10;
}

.main-notice {
    color: #fff;
    margin-top: 10px;
}

/* -------------------------- Settings for the scroll bar style ----------------------------------*/

.scroll-style::-webkit-scrollbar {
    width: 25px;
}
.scroll-style::-webkit-scrollbar-track {
    background-color: #1c1c1c;    
}
.scroll-style::-webkit-scrollbar-thumb {
    background-color: #515151;
    border: 9px solid transparent;
    border-radius: 18px;
    background-clip: content-box;
}
.scroll-style::-webkit-scrollbar-thumb:hover {
    background-color: #7c7c7c;
}
.scroll-style::-webkit-scrollbar-thumb:active {
    background-color: #a6a6a6;
}
.scroll-style::-webkit-scrollbar-button {
    background: #1c1c1c center no-repeat;
    height: 15px;
}
.scroll-style::-webkit-scrollbar-button:vertical:increment {
    background-image: url(../images/scrolldown.png);
}
.scroll-style::-webkit-scrollbar-button:vertical:increment:hover {
    background-image: url(../images/scrolldown-h.png);
}
.scroll-style::-webkit-scrollbar-button:vertical:increment:active {
    background-image: url(../images/scrolldown-a.png);
}
.scroll-style::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(../images/scrollup.png);
}
.scroll-style::-webkit-scrollbar-button:vertical:decrement:hover {
    background-image: url(../images/scrollup-h.png);
}
.scroll-style::-webkit-scrollbar-button:vertical:decrement:active {
    background-image: url(../images/scrollup-a.png);
}

/* -------------------------- Settings that govern the mod node displays ----------------------------------*/

.mod { /* Base settings for a single mod node */
    display: inline-block;
    position: relative;
    margin: 12px;
    margin-top: 24px;
    height: auto;
    width: auto;
    box-shadow: 2px 2px 15px 0px rgba(0,0,0,1);
}

/* -------------------------- Settings to create the mod nodes ----------------------------------*/

.mod-node .mod-title { /* This creates the mod title's red background box. */
    background-color: #422626;
    width: 150px;
    height: 40px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px;

    font-size: 0.8em;
    color: white;
    font: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease-in-out;
}

.mod-node .mod-image { /* Div sets up the portait mod image properties. */
    width: 150px;
    height: 225px;
}

.mod-node .mod-logo-container { /* Make sure any drop shadows for legacy mod images stays within the portrait node */
    position: absolute;
    top: 25px;
    overflow: hidden;
}

.mod-node .mod-logo-legacy { /* Support for legacy (landscape) mod images and makes them look nice over the stock portrait background. */
    vertical-align: middle;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px -4px 5px 1px rgba(255,252,222,1),
        0px 4px 5px 1px rgba(255,252,222,1),
        0px -23px 30px 5px rgba(0,0,0,1),
        0px 23px 30px 5px rgba(0,0,0,1);
}

.mod-node .no-logo { /* If a mod has no image, let's create a div for it anyway. */
    display: inline-block;
    max-width: 150px;
    padding-bottom: 47.80%; /* 122px / 255px */
    width: 100%;

    background: rgb(100, 100, 100);
}

.mod-node .mod-notifier { /* Places the top-right mod status notifier. */
    position: absolute;
    top: 0px;
    right: 0px;
}

.mod-node .actions { /* Div to detect mouse hover */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.mod-node .btn-wrapper { /* CENTER THE BUTTONS DAMMIT and darken the mod image on mouseover */
    width: 100%;
    height: 225px;
    background-color: rgba(0,0,0,0.7);

    padding-top: 30px;
    text-align: center;
}

.mod-node .avail-cover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.mod-node .actions:hover { /* Display the buttons on mouseover */
    opacity: 1;
}

.mod-node .actions:hover ~ .mod-title { /* Let's also lighten the red box around the mod title on mouseover */
    background-color: #856d6d;
    transition: all 0.3s ease-in-out;
}

.mod-node .mod-progress {
    height: 3px;
    background-color: #422626;
}

.mod-node .mod-progress .bar {
    position: relative;
    height: 3px;
    width: 0;

    z-index: 999;
    background: #fff;
    box-shadow: 0 0 10px #fff;
}

/* ----------------------------- This is the debug dropdown button section. ------------------------------- */

.dropbtn {
    background: url(../images/dropdownicon.png) no-repeat left top;
    color: white;
    padding: 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 51px;
    height: 19px;
}

.dropbtn:hover {
    background: url(../images/dropdownicon-h.png) no-repeat left top;
    outline: none;
}

.dropbtn:focus {
    background: url(../images/dropdownicon-a.png) no-repeat left top;
    outline: none;
}

.debug-dropdown {
    position: absolute;
    bottom: 0;
    right: 10px;
    background-color: transparent;
    width: 51px;
    height: 19px;
}

.dropdown-content {
    display: none;
    padding: 5px;
    position: absolute;
    background-color: #131313;
    min-width: 150px;
    box-shadow: 6px 6px 8px 0px rgba(0,0,0,1);
    z-index: 100 !important;
    border: 1px solid black;
    top: 20px;
}

.dropbtn:focus ~ .dropdown-content {
	display: block;
}

.drop-content-btn {
    background-color: transparent;
    color: #828282;
    padding: 3px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 19px;
    outline: none;
    text-align: left;
}

.drop-content-btn:active {
    color: white;
}

.dropdown-lines {
    width: 150px;
}

.dropdown-lines:hover {
    background-color: rgba(117,169,210,0.3);
    box-shadow: inset 0px 0px 16px 1px rgba(117,170,210,1);
}

.dropdown-lines:hover * {
    color: rgb(220, 220, 220);
}

.show {
    display: block;
}

/* ----------------------------- Here there be BUTTONS. Let's make them pretty. ------------------------------- */

.mod-btn {
    display: inline-block;
    padding: 6px 12px;
    margin: 5px; /* Buttons need their space. They're shy. */
    margin-bottom: 0px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    width: 100px;
    font-family: Arial, Tahoma, Verdana, FreeSans, sans-serif;
    font-size: 14px;
    color: white;
    border: 0;

    background: 3px 5px no-repeat;
    background-position: center;
    height: 43px;
}

.mod-btn:hover {
    color: #efefef;
}

.mod-btn:active {
    outline: none;
    color: #a6a6a6;
}

.mod-btn:focus {
    outline: none;
}

.mod-btn .small-btn-text {
    font-size: 10px;
    line-height: 1.1;
}

.btn-green { /* Settings that create the Play button */
    background-image: url(../images/playbtn.png);
}

.btn-green:hover {
    background-image: url(../images/playbtn-h.png);
}

.btn-green:active {
    background-image: url(../images/playbtn-a.png);
}

.btn-grey { /* Settings that create the Details button */
    background-image: url(../images/detailsbtn.png);
}

.btn-grey:hover {
    background-image: url(../images/detailsbtn-h.png);
}

.btn-grey:active {
    background-image: url(../images/detailsbtn-a.png);
}

.btn-blue { /* Settings that create the Install button */
    background-image: url(../images/installbtn.png);
}

.btn-blue:hover {
    background-image: url(../images/installbtn-h.png);
}

.btn-blue:active {
    background-image: url(../images/installbtn-a.png);
}

.btn-red { /* Settings that create the Error button */
    background-image: url(../images/errorbtn.png);
}

.btn-red:hover {
    background-image: url(../images/errorbtn-h.png);
}

.btn-red:active {
    background-image: url(../images/errorbtn-a.png);
}

.btn-orange { /* Settings that create the FRED button */
    background-image: url(../images/fredbtn.png);
}

.btn-orange:hover {
    background-image: url(../images/fredbtn-h.png);
}

.btn-orange:active {
    background-image: url(../images/fredbtn-a.png);
}

.btn-yellow {
    background-image: url(../images/updatebtn.png);
}

.btn-yellow:hover {
    background-image: url(../images/updatebtn-h.png);
}

.btn-yellow:active {
    background-image: url(../images/updatebtn-a.png);
}


/* Details page */
#details-page .img-frame {
    min-height: 300px;
    background: rgb(100, 100, 100);
    position: relative;
}

#details-page .title-frame {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    font-size: 14px;
}

#details-page .title-frame h1 {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0px;
}

#details-page .date-frame {
    margin-left: 5px;
}

#details-page .short-frame {
    margin-top: 5px;
}

/* Popup */
.popup-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 800px;
    height: 400px;

    margin-left: -400px;
    margin-top: -200px;

    background-color: #101010;
    padding: 5px;

    z-index: 1000;
}

@media (max-width: 800px) {
    .popup {
        width: 100%;
        margin-left: 0;
        left: 0;
    }
}

.popup .title {
    color: #fff;
}

.popup .content {
    position: absolute;
    top: 30px;
    left: 10px;
    right: 10px;
    bottom: 10px;

    overflow-y: auto;
    color: #fff;

    padding: 10px 15px;
    background: #2e2e2e;
}

.mod-prog-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mod-prog-bar {
    height: 10px;
    border: 1px solid black;
    margin-top: 4px;

    background: #ddd;
}

.mod-prog-bar .inner {
    background: #11f;
    height: 100%;
}

.mod-prog-bar.complete .inner {
    background: #1f1;
}

.mod-prog-status {
    font-size: 12px;
}